<div class="container">
    {{#sticky-element}}
        {{#liquid-bind mainVideo use="scale" as |currentModel|}}
            <div class="card">
                <div>
                    {{ember-youtube ytid=mainVideo.id playerVars=playerVars width='100%' delegate=this delegate-as="emberYoutube"}}
                </div>
                <div class="card-content">
                    <div>{{mainVideo.title}}</div>
                </div>
                <div class="card-action">
                    <button {{action "togglePlay" target=emberYoutube}} class="btn-floating waves-effect waves-light">
                        {{#if emberYoutube.isPlaying}}
                            <i class="material-icons">&#xE034;</i>
                        {{else}}
                            <i class="material-icons">&#xE037;</i>
                        {{/if}}
                    </button>
                    <button {{action "toggleVolume" target=emberYoutube}} class="btn-floating waves-effect waves-light">
                        {{#if emberYoutube.isMuted}}
                            <i class="material-icons">&#xE04F;</i>
                        {{else}}
                            <i class="material-icons">&#xE050;</i>
                        {{/if}}
                    </button>
                </div>
            </div>
        {{/liquid-bind}}
    {{/sticky-element}}
    <div class="row">
        {{#each ytSubVideos as |ytVideo|}}
            <div class="col s6 m4 l3">{{cy-youtube ytVideo=ytVideo}}</div>
        {{/each}}
    </div>
    {{!#link-to 'page1'}}<!--page1-->{{!/link-to}}
    {{!#link-to 'page2'}}<!--page2-->{{!/link-to}}
    <br/>
    {{outlet}}
</div>
